#gameTable, #gameTable tr, #gameTable td {
	border: 1px solid #C0C0C0;
  background-color:yellow;
}

#gameTable {
  margin-left:200px;
 }

 #test {
  z-index:3;
  height:100px;
  width:100px;
  background-color:blue;
  position:absolute;
  left:500px;
  top:100px;
 }

/*#gameTable {
	width:500px;
  height:500px;
}*/

.circle {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px; 
  background-color:#E0E0E0;
  overflow:hidden;
  position:relative;
} 

.redCircle {
  background-color:red;
  border:none;
}

.blackCircle {
  background-color:black;
  border:none;
}

.tempCircle {
  display: block;
  bottom:56px;
  position: absolute;
  transition-property: opacity, bottom;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  transition-timing-function: linear;
  overflow:hidden;

}

.dropped {
  bottom: -59px; /* Negative height of the circle plus the 2 pixels in the border*/
}